* {
    padding: none;
    margin: none;
    background-color: #1a1a1a;
    color: whitesmoke;
    font-family: sans-serif;

}

section {
    border-radius: 30px;
    padding: 40px;
}

/* #noteInput{
  border-color: whitesmoke;
  border-radius: 6px;
  padding: 10px;
  margin-right: 20px;
  

} */

#card {
    margin-left:auto;
    margin-right: auto;
}

.card {
    width: 500px;
    height: 600px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
}

.card2 {
    width: 500px;
    height: 600px;
    background-color: #1a1a1a;
    border-radius:0 ;
    transition: all .2s;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.input {
  color: whitesmoke;
  border: 2px solid  #17C3B2;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
 }
 
 .input:active {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
 }



 #noteSubmit {
  padding: 0.8em 1.8em;
  border: 2px solid #17C3B2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #17C3B2;
  border-radius: 7px;
  margin-left: 50px;
 }
 
 #noteSubmit:before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17C3B2;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 #noteSubmit:hover::before {
  width: 105%;
 }
 
 #noteSubmit2:hover {
  color: #111;
 }

 .btn-txt{
  background-color: transparent;
 }

 #noteSubmit2 {
  padding: 0.8em 1.8em;
  border: 2px solid #17C3B2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #17C3B2;
  border-radius: 7px;
  margin-left: 50px;
 }
 
 #noteSubmit2:before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17C3B2;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 #noteSubmit2:hover::before {
  width: 105%;
 }
 
 #noteSubmit2:hover {
  color: #111;
 }

 li{
  font-size: 15px;
 }
 #noteSubmit3 {
  padding: 0.8em 1.8em;
  border: 2px solid #17C3B2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #17C3B2;
  border-radius: 7px;
  margin-left: 790px;
  margin-top: 20px;
 }
 
 #noteSubmit3:before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17C3B2;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 #noteSubmit3:hover::before {
  width: 105%;
 }
 
 #noteSubmit3:hover {
  color: #111;
 }

 /* h3{
  color: #17C3B2;
  font-size: 40px;
  margin-left: 100px;
 } */

 .loader {
  padding-top: 90px;
  margin-left: 840px;
  position: relative;
  margin-bottom: 60px;

}

.loader span {
  position: absolute;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 40px;
  letter-spacing: 5px;
}

.loader span:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.3px rgb(128, 198, 255);
}

.loader span:nth-child(2) {
  color: rgb(128, 198, 255);
  -webkit-text-stroke: 1px #17C3B2;
  animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {
  0%, 100% {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 
     54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 
     51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}


 